		html, body {
			height: 100%;
			margin: 0;
		}
		#county-map {
			height: 100%;
			width: 100%;
		}

.leaflet-pulsing-icon {
	background-color: unset !important;
}

.leaflet-overlay-pane {
	z-index: 999; /*let tooltip be clickable*/
}

.leaflet-popup-pane {
	z-index: 1002;
}

.leaflet-marker-pane {
	z-index: 1001;
}

.heading-break {
	border-left: 2px gray solid;
    padding-left: 4px;
}

.pulse-explain {
	display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leaflet-lines-gradient img {
	width: 100%
}

.leaflet-marker-move img {
	width: 100%;
}
.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }</style>